services:
  rabbitmq:
    image: rabbitmq:3
    restart: always
    ports:
      - '5672:5672'
    volumes:
      - ./conf/myrabbit.conf:/etc/rabbitmq/rabbitmq.conf
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: 'password' 
    ports:
      - '8080:80'
    depends_on:
      - db

volumes:
  my-db: